.card {
  background-color: var(--color-primary-fade);

  border-radius: var(--border-radius-small);

  &:not(.has-title) {
    padding: 0.75rem;
  }

  &.shadow {
    box-shadow: var(--shadow);
  }

  &.has-title {
    .title,
    .body {
      padding: 0.75rem;
    }

    hr {
      border: 2px solid var(--color-primary-opposite);
    }
  }
}
