.activities {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .activity {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background-color: var(--color-primary-opposite);

    > svg {
      font-size: 1.25em;
    }
  }
}
