.comments-result {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  > li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &:nth-child(3n) .profile {
      color: var(--color-user-profile-one);
    }

    &:nth-child(3n + 1) .profile {
      color: var(--color-user-profile-two);
    }

    &:nth-child(3n + 2) .profile {
      color: var(--color-user-profile-three);
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > div {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .profile {
          font-size: var(--fz-700);
        }

        .date-time {
          font-size: var(--fz-200);
        }
      }

      .rate {
        display: flex;
        align-items: center;
        justify-content: center;

        inline-size: 2rem;
        block-size: 2rem;

        background-color: var(--color-primary);

        padding-block-start: 0.25rem;

        border-radius: var(--border-radius-small);

        color: var(--color-primary-opposite);
      }
    }

    .description {
      font-size: var(--fz-300);

      white-space: pre-line;
    }
  }

  .divider {
    block-size: 1px;

    background-color: var(--color-secondary);

    &:last-child {
      display: none;
    }
  }
}
