.activity {
  .card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .activity-item {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      background-color: var(--color-primary-opposite);

      > svg {
        font-size: 1.2rem;
      }
    }
  }
}
